<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wildnotion.simple-workout" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Simple Workout</name>
    <description>
        A simple workout tracker that can record and display workout history for arbitrary workouts.
    </description>
    <author email="walt@wildnotion.com" href="http://wildnotion.com">
        WildNotion
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
